In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.svm import SVR
import os
from sys import platform

 Table

# Instructions

1. Load the `train.csv` file
2. Explore the data, understand it
3. Process it for future training
4. Do train, test, split for your `train.csv` file
5. `fit/train` a model from your cleaned_train_df
-----
5. Load the `test.csv` file
6. Apply the same processing you did to `train.csv` into `test.csv`
7. `predict` the price for that file
8. Only keep the columns you need
9. Export
-----
10. Repeat! ðŸš€ðŸ”¥

#Â Import the csv files

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [3]:
df_train.sample()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
4202,4202,0.78,Very Good,G,SI2,63.7,55.9,5.82,5.85,3.72,7.784

In [4]:
df_test.sample()

          id  carat      cut color clarity  depth  table     x     y     z
10332  10332    1.2  Premium     E     SI1   62.5   56.0  6.75  6.71  4.21

In [5]:
df_train.shape

(40455, 11)

In [6]:
df_test.shape

(13485, 10)

In [7]:
#SUBMISSION -> test

In [8]:
print(df_train.shape[0])
df_train.sample()

40455

          id  carat   cut color clarity  depth  table     x     y     z  price
21603  21603    1.5  Good     E     SI1   64.2   55.0  7.17  7.22  4.62  9.454

In [9]:
print(df_test.shape[0])
df_test.sample()

13485

        id  carat   cut color clarity  depth  table     x     y     z
4319  4319   0.42  Good     F     VS1   59.9   65.0  4.83  4.89  2.91

#Â Cleaning, processing, feature selection, etc

In [10]:
#Â Processing is necessary, otherwise we won't be able to fit a model
#Â For the sake of the example, we'll just drop categorical columns

df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

          id  carat  depth  table     x     y     z  price
0          0   1.02   63.2   58.0  6.36  6.40  4.03  8.928
1          1   0.35   61.0   57.0  4.54  4.57  2.77  6.477
2          2   0.31   60.5   58.0  4.43  4.40  2.67  6.810
3          3   0.38   61.4   56.0  4.66  4.69  2.87  6.824
4          4   1.64   61.8   56.0  7.59  7.60  4.69  9.776
...      ...    ...    ...    ...   ...   ...   ...    ...
40450  40450   1.20   62.2   55.0  6.77  6.81  4.23  9.149
40451  40451   1.50   64.2   56.0  7.30  7.09  4.62  9.077
40452  40452   1.06   61.9   55.0  6.54  6.58  4.06  8.892
40453  40453   0.31   60.1   58.0  4.40  4.38  2.64  6.385
40454  40454   2.00   60.8   58.0  7.99  8.07  4.88  9.455

[40455 rows x 8 columns]

#Â Train on train.csv

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/4_train-test-split.jpg)

## Train, test split

In [11]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

##Â Fit

In [12]:
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

#Â Just for feedback
if platform == "darwin":
    os.system("say I'm done training")

In [13]:
y_pred = regressor.predict(X_test)

In [14]:
np.sqrt(mean_squared_error(y_pred, y_test))

1.010958436453333

-----
-----
-----
-----

#Â Applying same cleaning & processing to my `test.csv`

In [15]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

        id  carat  depth  table     x     y     z
3132  3132   0.36   62.4   55.0  4.55  4.58  2.85

#Â Predict on the `test.csv`

In [16]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica ayam don predictin")

#Â DF with two columns

In [17]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

        id  carat  depth  table     x    y     z
5010  5010   0.73   62.7   58.0  5.76  5.7  3.59

In [18]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [19]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

        id     price
4748  4748  7.792953

#Â Export (index=False)

In [20]:
df_for_submission.to_csv("my_submission.csv", index=False)

#Â Just for feedback
if platform == "darwin":
    os.system("say redi for submission")

In [21]:
df_for_submission.head()

   id     price
0   0  7.747479
1   1  7.747399
2   2  7.747294
3   3  7.747705
4   4  7.747375